@{

    TempData.Keep();
    string? currentPage = ViewContext.HttpContext.Request.Path;

    string pagina = "";
}

<!-- Menu -->
@* ! Do this simple *@
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">

    @* ! Hide app brand if navbar-full *@
    <div class='app-brand demo @((@ViewData["navbarFull"] != null && Convert.ToBoolean(@ViewData["navbarFull"])) ? "d-xl-none" : "")'>
        <a asp-area="" asp-controller="Home" asp-action="Index" class="app-brand-link">
            <img style="width: 29px;" src="~/img/favicon/favicon.svg" />
            <span class="app-brand-logo demo me-1"></span>
            <span class="app-brand-text demo menu-text fw-semibold ms-2">@TempData.Peek("appName")</span>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
            <i class="menu-toggle-icon d-xl-block align-middle"></i>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>

    @* ! Full version menu-items *@
    <ul class="menu-inner py-1">
        <!-- Dashboards -->

        <li class='menu-item@(currentPage == "/Home/Index" ? " active" : "")'>
            <a asp-area="" asp-controller ="Home" asp-action="Index" class="menu-link">
                <i class="menu-icon tf-icons ri-line-chart-fill"></i>
                <div>Dashboard</div>
            </a>
        </li>

        <li class="menu-header mt-7">
            <span class="menu-header-text">Modulos</span>
        </li>

        <!-- Configuracion -->
        <li class='menu-item@(currentPage.StartsWith("/Configuracion") ? " active open" : "")'>
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons ri-settings-4-line"></i>
                <div>Configuracion</div>
            </a>

            <ul class="menu-sub">

                <li class='menu-item@(currentPage == "/Configuracion/Usuario" ? " active" : "")'>
                    <a asp-area="Configuracion" asp-controller="Usuario" asp-action="Index" class="menu-link">
                        <div>Usuarios</div>
                    </a>
                </li>
                <li class='menu-item@(currentPage == "/LayoutExamples/WithoutNavbar" ? " active" : "")'>
                    <a asp-controller="LayoutExamples" asp-action="WithoutNavbar" class="menu-link">
                        <div>Accesos</div>
                    </a>
                </li>
                <li class='menu-item@(currentPage == "/LayoutExamples/Container" ? " active" : "")'>
                    <a asp-controller="LayoutExamples" asp-action="Container" class="menu-link">
                        <div>Tipo de Incidencia</div>
                    </a>
                </li>
                <li class='menu-item@(currentPage == "/LayoutExamples/Fluid" ? " active" : "")'>
                    <a asp-controller="LayoutExamples" asp-action="Fluid" class="menu-link">
                        <div>Solitud de usuario</div>
                    </a>
                </li>
            </ul>
        </li>

        <!-- Almacen -->
        <li class='menu-item@(currentPage.StartsWith("/FrontPages") ? " active open" : "")'>
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class='menu-icon tf-icons ri-file-copy-line'></i>
                <div>Almacen</div>
            </a>
            <ul class="menu-sub">
                <li class='menu-item@(currentPage == "/FrontPages/LandingPage" ? " active" : "")'>
                    <a href="https://demos.themeselection.com/materio-aspnet-core-mvc-admin-template/html/front-pages/landing-page.html" class="menu-link" target="_blank">
                        <div>Pabellon</div>
                    </a>
                </li>
                <li class='menu-item@(currentPage == "/FrontPages/PricingPage" ? " active" : "")'>
                    <a href="https://demos.themeselection.com/materio-aspnet-core-mvc-admin-template/html/front-pages/pricing-page.html" class="menu-link" target="_blank">
                        <div>Piso</div>
                    </a>
                </li>
                <li class='menu-item@(currentPage == "/FrontPages/PaymentPage" ? " active" : "")'>
                    <a href="https://demos.themeselection.com/materio-aspnet-core-mvc-admin-template/html/front-pages/payment-page.html" class="menu-link" target="_blank">
                        <div>Item/SubItem</div>
                    </a>
                </li>
                <li class='menu-item@(currentPage == "/FrontPages/CheckoutPage" ? " active" : "")'>
                    <a href="https://demos.themeselection.com/materio-aspnet-core-mvc-admin-template/html/front-pages/checkout-page.html" class="menu-link" target="_blank">
                        <div>Tipo Ambiente</div>
                    </a>
                </li>
                <li class='menu-item@(currentPage == "/FrontPages/HelpCenterLanding" ? " active" : "")'>
                    <a href="https://demos.themeselection.com/materio-aspnet-core-mvc-admin-template/html/front-pages/help-center-landing.html" class="menu-link" target="_blank">
                        <div>Ambiente</div>
                    </a>
                </li>

                <li class='menu-item@(currentPage == "/FrontPages/HelpCenterLanding" ? " active" : "")'>
                    <a href="https://demos.themeselection.com/materio-aspnet-core-mvc-admin-template/html/front-pages/help-center-landing.html" class="menu-link" target="_blank">
                        <div>Orden de Ingreso</div>
                    </a>
                </li>

            </ul>
        </li>

        <!-- Operaciones -->


        <li class='menu-item@(currentPage.StartsWith("/Pages") ? " active open" : "")'>
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons ri-article-line"></i>
                <div>Operaciones</div>
            </a>
            <ul class="menu-sub">
                <li class='menu-item@(currentPage == "/Pages/AccountSettings" ? " active" : "")'>
                    <a asp-controller="Pages" asp-action="AccountSettings" class="menu-link">
                        <div>Incidencias</div>
                    </a>
                </li>
                <li class='menu-item@(currentPage == "/Pages/AccountSettingsNotifications" ? " active" : "")'>
                    <a asp-controller="Pages" asp-action="AccountSettingsNotifications" class="menu-link">
                        <div>Orden de trabajo</div>
                    </a>
                </li>

            </ul>
        </li>
        <li class='menu-item@(currentPage.StartsWith("/Auth") ? " active open" : "")'>
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons ri-file-chart-line"></i>
                <div>Reportes</div>
            </a>
            <ul class="menu-sub">
                <li class='menu-item@(currentPage == "/Auth/LoginBasic" ? " active" : "")'>
                    <a asp-controller="Auth" asp-action="LoginBasic" class="menu-link" target="_blank">
                        <div>Inventario</div>
                    </a>
                </li>
                <li class='menu-item@(currentPage == "/Auth/RegisterBasic" ? " active" : "")'>
                    <a asp-controller="Auth" asp-action="RegisterBasic" class="menu-link" target="_blank">
                        <div>Stock de Items</div>
                    </a>
                </li>
                <li class='menu-item@(currentPage == "/Auth/ForgotPasswordBasic" ? " active" : "")'>
                    <a asp-controller="Auth" asp-action="ForgotPasswordBasic" class="menu-link" target="_blank">
                        <div>Resumen de incidencias</div>
                    </a>
                </li>
            </ul>
        </li>

    </ul>

</aside>
<!-- / Menu -->
